@import "tailwindcss";


:root {
  --background: #070b16;
  --foreground: #ffffff;
}


* {
  box-sizing: border-box;
}


html {
  scroll-behavior: smooth;
}



body {

  min-height: 100vh;

  background:
    linear-gradient(
      rgba(7,11,22,0.88),
      rgba(7,11,22,0.95)
    ),
    url("/rok-bg.jpg");

  background-size: cover;

  background-position: center;

  background-attachment: fixed;

  color: white;

}





/* Premium Card */

.rok-card {

  background:
    linear-gradient(
      145deg,
      rgba(15,23,42,0.95),
      rgba(2,6,23,0.95)
    );


  border:

    1px solid

    rgba(234,179,8,0.25);



  border-radius: 24px;


  padding: 24px;


  transition:

    all .3s ease;

}



.rok-card:hover {


  transform:

    translateY(-8px);



  border-color:

    #eab308;



  box-shadow:

    0 0 35px

    rgba(234,179,8,0.25);


}





/* Gold text */

.gold-text {

  color:#eab308;

}



/* Scrollbar */


::-webkit-scrollbar {

  width:10px;

}



::-webkit-scrollbar-track {

  background:#070b16;

}



::-webkit-scrollbar-thumb {

  background:#eab308;

  border-radius:20px;

}